<div class="header_div0">

    <div class="header_div1">
        <a href="https://www.ebi.ac.uk/biosamples/" id="bio_logo" style="color: aliceblue;"><img src="assets/logo_biosamples.png" alt="ENA BioSamples" height="50px" >BioSamples</a>
        <a href="https://www.ebi.ac.uk/ena/browser/home" id="ena_logo"><img src="assets/ENA_Logo_notagline.png" alt="ENA (European Nucleotide Archive)" height="60px" ></a>
    </div>
    <br>
    <div class="nav-menu">
        <nav>
            <ul class="menu float-left"
                data-description="navigational" style="color: aliceblue;">
                <li class=""><a href="https://www.ebi.ac.uk/biosamples/" style="color: aliceblue;">Home</a></li>
                <li class=""><a href="/Bio" style="color: aliceblue;">Search</a></li>
                <li class=""><a href="https://www.ebi.ac.uk/biosamples/uploadLogin" style="color: aliceblue;">Upload</a></li>
                <li class=""><a href="https://www.ebi.ac.uk/biosamples/graph/search" style="color: aliceblue;">Graph Search</a></li>
                <li class=""><a href="https://www.ebi.ac.uk/biosamples/submit" style="color: aliceblue;">Submit</a></li>
                <li class=""><a href="https://www.ebi.ac.uk/biosamples/docs" style="color: aliceblue;">Documentation</a></li>
                <li class=""><a href="https://www.ebi.ac.uk/biosamples/about" style="color: aliceblue;">About</a></li>
        </ul>
        </nav>

    </div>
</div>